Todo Monkey Inc/Artefactos Monkey Inc/MeMex/Ejemplos Proyectos Capas/SDPractica2/Web/Web References/localhost/Servicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GuardarAutomovil">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="marca" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="modelo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="anio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuardarAutomovilResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GuardarAutomovilResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditarAutomovil">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="marca" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="modelo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="anio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditarAutomovilResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EditarAutomovilResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarAutomovil">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarAutomovilResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EliminarAutomovilResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerAutomovil">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerAutomovilResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerAutomovilResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerListado">
        <s:complexType />
      </s:element>
      <s:element name="ObtenerListadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerListadoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GuardarAutomovilSoapIn">
    <wsdl:part name="parameters" element="tns:GuardarAutomovil" />
  </wsdl:message>
  <wsdl:message name="GuardarAutomovilSoapOut">
    <wsdl:part name="parameters" element="tns:GuardarAutomovilResponse" />
  </wsdl:message>
  <wsdl:message name="EditarAutomovilSoapIn">
    <wsdl:part name="parameters" element="tns:EditarAutomovil" />
  </wsdl:message>
  <wsdl:message name="EditarAutomovilSoapOut">
    <wsdl:part name="parameters" element="tns:EditarAutomovilResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarAutomovilSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarAutomovil" />
  </wsdl:message>
  <wsdl:message name="EliminarAutomovilSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarAutomovilResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerAutomovilSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerAutomovil" />
  </wsdl:message>
  <wsdl:message name="ObtenerAutomovilSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerAutomovilResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerListado" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerListadoResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicioSoap">
    <wsdl:operation name="GuardarAutomovil">
      <wsdl:input message="tns:GuardarAutomovilSoapIn" />
      <wsdl:output message="tns:GuardarAutomovilSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EditarAutomovil">
      <wsdl:input message="tns:EditarAutomovilSoapIn" />
      <wsdl:output message="tns:EditarAutomovilSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarAutomovil">
      <wsdl:input message="tns:EliminarAutomovilSoapIn" />
      <wsdl:output message="tns:EliminarAutomovilSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerAutomovil">
      <wsdl:input message="tns:ObtenerAutomovilSoapIn" />
      <wsdl:output message="tns:ObtenerAutomovilSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerListado">
      <wsdl:input message="tns:ObtenerListadoSoapIn" />
      <wsdl:output message="tns:ObtenerListadoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioSoap" type="tns:ServicioSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GuardarAutomovil">
      <soap:operation soapAction="http://tempuri.org/GuardarAutomovil" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarAutomovil">
      <soap:operation soapAction="http://tempuri.org/EditarAutomovil" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarAutomovil">
      <soap:operation soapAction="http://tempuri.org/EliminarAutomovil" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerAutomovil">
      <soap:operation soapAction="http://tempuri.org/ObtenerAutomovil" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerListado">
      <soap:operation soapAction="http://tempuri.org/ObtenerListado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioSoap12" type="tns:ServicioSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GuardarAutomovil">
      <soap12:operation soapAction="http://tempuri.org/GuardarAutomovil" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarAutomovil">
      <soap12:operation soapAction="http://tempuri.org/EditarAutomovil" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarAutomovil">
      <soap12:operation soapAction="http://tempuri.org/EliminarAutomovil" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerAutomovil">
      <soap12:operation soapAction="http://tempuri.org/ObtenerAutomovil" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerListado">
      <soap12:operation soapAction="http://tempuri.org/ObtenerListado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Servicio">
    <wsdl:port name="ServicioSoap" binding="tns:ServicioSoap">
      <soap:address location="http://localhost:1041/Servicio.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioSoap12" binding="tns:ServicioSoap12">
      <soap12:address location="http://localhost:1041/Servicio.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>